<mat-drawer-container class="example-container">
    <!-- Menu Lateral -->
    <mat-drawer #drawer mode="side" opened="true">
        <mat-nav-list>
            <mat-list-item *ngFor="let link of links" routerLinkActive="router-link-active">
                <a matLine [routerLink]="link.route">{{ link.label }}</a>
                <mat-icon>{{ link.icon }}</mat-icon>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <!-- Toolbar -->
        <mat-toolbar>
            <span>Soluções em pedidos</span>
        </mat-toolbar>

        <!-- Conteúdo que será exibido -->
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>